/*.borehole-popup {
    position: absolute;
    z-index: 40;
    box-shadow: 1px 1px 3px #dbdbdb;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
}*/



.gba-control-borehole {
    cursor: pointer;
    /*background-color:green;*/
    /*height:100%;
     */
}
.gba-control-borehole .maximize.hidden {
    display: none;
}
.gba-control-borehole .maximize{
     color: rgb(220, 220, 220);
    background: gray;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    float: left;
    cursor: pointer;
}

/*body, div, ul, li, a, section, nav, h1, h2, h3, h4, h5, h6, label, hr {
    padding: 0;
}*/
/*side-menu zumachen*/
.gba-menu .close {
    color: rgb(220, 220, 220);
    background: gray;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
    cursor: pointer;
}
.gba-close-icon {
    background-repeat: no-repeat;
    background-image: url('img/16.png');
    background-position: -52px -9px;
    display: inline;
    padding: 0 10px;
}
.toolbox {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
}
.gba-menu .toolbox li {
    color: #464646;
    line-height: 46px;
    cursor: pointer;
    float: right;   
    padding: 0 5px;
}
.gba-menu .body {
    clear: both;
    height: calc(100% - 46px);
}


/*.gba-menu {
    position: absolute;
    background-color: rgba(119, 119, 119, 0.95);
    overflow: auto;
    cursor: default;
    z-index: 99999999999999999999999;
}*/
.gba-menu {
    /*width: 400px;*/
    position: absolute;
    top: 0;
    left:0;
    /*bottom: 0;*/
    /*right: 0;*/
    padding: 0 20px 2px 20px;
    border-right: 1px solid #ddd;
     border-left: 1px solid #ddd;
    /*display: none;*/
    overflow-y: auto;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.93;
    /*-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;*/
}

.gba-menu::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: #f2f2f2;
}

.gba-menu::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #777;
}




.chartTable {
    /*width:25px;*/
    /*height: 400px;*/
    /*background-color:azure;*/
    margin-left:20px;
    border-width: 0;
    border-spacing: 0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; /* Optional - if you don't want to have double border where cells touch */
}

    .chartTable div {
        font: 10px sans-serif;
        /*background-color: steelblue;*/
        text-align: left;
        /*padding: 3px;
  margin: 1px;*/
        color: #464646;
        /*width:75px;*/
    }

    .chartTable td {
        vertical-align: central;
        text-align: center;
        padding: 0;
        overflow: visible;
    }

        .chartTable td img {
            display: block;
        }

/*.gba-menu .chartCanvas {
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}*/